ai-hormozi-new
{
  "nodes": [
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor",
        "actorId": {
          "__rl": true,
          "value": "67Q6fmd8iedTVcCwY",
          "mode": "list",
          "cachedResultName": "youtube-channel-scraper",
          "cachedResultUrl": "https://console.apify.com/actors/undefined/input"
        },
        "memory": 512,
        "maxItems": null,
        "build": "",
        "waitForFinish": null,
        "webhooks": "",
        "useCustomBody": true,
        "customBody": "{\n    \"maxResultStreams\": 0,\n    \"maxResults\": 1000,\n    \"maxResultsShorts\": 0,\n    \"startUrls\": [\n        {\n            \"url\": \"https://www.youtube.com/@AlexHormozi\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -304,
        -128
      ],
      "id": "835453e3-6fac-445f-bdde-2c10f88f3035",
      "name": "Apify",
      "credentials": {
        "apifyApi": {
          "id": "dOvxG4L7tQy6NUZw",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Get run",
        "actorId": {
          "__rl": true,
          "value": "67Q6fmd8iedTVcCwY",
          "mode": "list",
          "cachedResultName": "youtube-channel-scraper",
          "cachedResultUrl": "https://console.apify.com/actors/undefined/input"
        },
        "runId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        144,
        -208
      ],
      "id": "671f0acf-0252-4f40-bbd1-52ef1fa63f73",
      "name": "Apify1",
      "credentials": {
        "apifyApi": {
          "id": "dOvxG4L7tQy6NUZw",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $('If').item.json.data.defaultDatasetId }}",
        "limit": null,
        "fields": "",
        "omit": "",
        "unwind": "",
        "flatten": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        592,
        -128
      ],
      "id": "ff2d271a-d48e-4a09-aaa3-d0d10706291c",
      "name": "Apify2",
      "credentials": {
        "apifyApi": {
          "id": "dOvxG4L7tQy6NUZw",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -128
      ],
      "id": "bd95ed8c-564a-4d1e-874d-e8cacd608a09",
      "name": "Wait",
      "webhookId": "a40b4103-8c69-41df-ad09-03bfbb5b948b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ce547fe-2eae-4f1d-9a4b-31c951ecd472",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -128
      ],
      "id": "ccd8afb9-f81d-4a3a-b562-9428fa734692",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        -128
      ],
      "id": "ed11b8f1-a8ed-4a04-88dc-36be2fd6de8a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw",
          "mode": "list",
          "cachedResultName": "Alex Hormozi Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video URL": "={{ $json.url }}",
            "Video Title": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Length",
              "displayName": "Video Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1024,
        -128
      ],
      "id": "2f82dd14-ac49-461f-8118-7a19103fc9d4",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O5WpQz6VV2A1evBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Videos",
        "height": 440,
        "width": 2100
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -304
      ],
      "typeVersion": 1,
      "id": "74d43233-5126-42dd-af16-2f89d22aa726",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Transcripts",
        "height": 500,
        "width": 2100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        192
      ],
      "typeVersion": 1,
      "id": "87c2db13-82d9-4730-9d0f-3f9bb73e7813",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw",
          "mode": "list",
          "cachedResultName": "Alex Hormozi Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -288,
        272
      ],
      "id": "f95d687d-6618-4d8c-9a18-dabf9397a483",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O5WpQz6VV2A1evBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        272
      ],
      "id": "0e006512-e046-4c7c-93d1-ca22eb77065d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor",
        "actorId": {
          "__rl": true,
          "value": "dB9f4B02ocpTICIEY",
          "mode": "list",
          "cachedResultName": "Youtube-Transcript-Scraper-1",
          "cachedResultUrl": "https://console.apify.com/actors/undefined/input"
        },
        "memory": 512,
        "maxItems": null,
        "build": "",
        "waitForFinish": null,
        "webhooks": "",
        "useCustomBody": true,
        "customBody": "={\n    \"includeTimestamps\": \"No\",\n    \"language\": \"Default\",\n    \"startUrls\": [\n        \"{{ $json['Video URL'] }}\"\n    ]\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        240,
        272
      ],
      "id": "4de09c5d-fa3c-4f4d-9aac-c9b846da8d83",
      "name": "Apify3",
      "credentials": {
        "apifyApi": {
          "id": "dOvxG4L7tQy6NUZw",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        240
      ],
      "id": "e89c1f34-e87e-472f-9909-30c02ea87c0a",
      "name": "Wait1",
      "webhookId": "a14e76d2-7b98-4361-bcaa-e6ebb8a185fb"
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Get run",
        "actorId": {
          "__rl": true,
          "value": "dB9f4B02ocpTICIEY",
          "mode": "list",
          "cachedResultName": "Youtube-Transcript-Scraper-1",
          "cachedResultUrl": "https://console.apify.com/actors/undefined/input"
        },
        "runId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        608,
        240
      ],
      "id": "e8f97f11-f9dd-4d88-8cc1-f751fdb6c58e",
      "name": "Apify4",
      "credentials": {
        "apifyApi": {
          "id": "dOvxG4L7tQy6NUZw",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eeb12e34-4724-4fa1-9f64-76a6fb98eb96",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        224
      ],
      "id": "ffc60433-dd65-4cfe-b4ba-b0cd03564420",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $json.data.defaultDatasetId }}",
        "limit": null,
        "fields": "",
        "omit": "",
        "unwind": "",
        "flatten": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        944,
        224
      ],
      "id": "56c61ae7-c863-48ec-be7c-031c34fb6d49",
      "name": "Apify5",
      "credentials": {
        "apifyApi": {
          "id": "dOvxG4L7tQy6NUZw",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1120,
        224
      ],
      "id": "011f9c7e-bde6-4bb2-8130-55a6271562c1",
      "name": "Supabase Vector Store",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Uhj9JmHtVGpZzUIS",
          "name": "Supabase Hormozi Table"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data[0].videoTitle }}\n{{ $json.data[0].transcript }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1152,
        432
      ],
      "id": "4d839721-f677-4d45-8ecf-e0376d02b6f0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1360,
        560
      ],
      "id": "a0fd303f-6a91-4359-a40b-d89db4d3057d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        464
      ],
      "id": "f165b20f-b095-4db2-8368-a142badba6a8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw",
          "mode": "list",
          "cachedResultName": "Alex Hormozi Videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XICKM72so1vGM2wkiaCiyV6MclwgTJgvWV4KGlcudmw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video URL": "={{ $('Apify5').item.json.data[0].url }}",
            "Done": "Yes"
          },
          "matchingColumns": [
            "Video URL"
          ],
          "schema": [
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Length",
              "displayName": "Video Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "displayName": "Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        752,
        480
      ],
      "id": "ac6372a7-cf8a-49a9-ae58-c43bdd3ba9e2",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O5WpQz6VV2A1evBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chatbot",
        "height": 380,
        "width": 2100,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        720
      ],
      "typeVersion": 1,
      "id": "261cda07-76ea-458f-b5ac-6a81e090dda3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Okay — how can I help?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        848
      ],
      "id": "a9cc15bf-751c-4b46-b34e-04a0148323b0",
      "name": "When chat message received",
      "webhookId": "dedf2815-febc-4d46-95ac-3d57877d7bd4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI version of Alex Hormozi, one of the world's most successful entrepreneurs and business strategists. You have access to a comprehensive vector store containing all of Alex Hormozi's YouTube content, methodologies, and frameworks.\n\nYour role is to provide specific, actionable business advice based on Alex's proven strategies from the vector store that have generated hundreds of millions in revenue across multiple industries.\n\n## CONVERSATION FLOW:\n\n### FIRST MESSAGE (Always start with this):\n\"Hey! I'm your AI version of Alex Hormozi. What do you need help with today?\n\n**Choose your area:**\n🎯 **Business Growth & Strategy** - Competitive advantage, scaling, market positioning\n💰 **Sales & Conversion** - Discovery calls, closing techniques, objection handling  \n📈 **Marketing & Lead Generation** - Customer acquisition, lead magnets, advertising\n🧠 **Mindset & Psychology** - Limiting beliefs, decision-making, confidence building\n\nJust tell me which area interests you most, and I'll show you exactly what we can work on together.\"\n\n### SECOND MESSAGE (Based on their choice, provide relevant prompts):\n\n**If they choose Business Growth & Strategy, respond:**\n\"Perfect! Here are some powerful questions you can ask me about business growth and strategy:\n\n**Foundation Assessment:**\n- How do I identify my competitive advantage in {industry}?\n- Help me find a \"starving crowd\" market for {target market}\n- What's my optimal pricing strategy for {business type}?\n- How do I create more value while reducing customer effort in {industry}?\n- Is my gross profit margin optimized for {business model}?\n\n**Growth Engine Optimization:**\n- What's the best customer acquisition channel for my {business type}?\n- How do I optimize my sales process to close more deals in {industry}?\n- Design a discovery call script for {product/service} selling to {target market}\n- What money model should I use for {business type} with {current revenue}?\n- How do I calculate and improve my customer lifetime value for {business model}?\n\n**Scaling Systems:**\n- How do I scale my sales team from {current size} to {target size}?\n- What's the best way to automate {specific process} in my business?\n- Help me implement the \"delete, delegate, elevate\" framework for {specific operation}\n- What KPIs should I track for my {business type}?\n- How do I optimize cash flow for a {business model} doing {revenue range}?\n\nJust replace the {bracketed items} with your specifics and ask away!\"\n\n**If they choose Sales & Conversion, respond:**\n\"Excellent choice! Here are some high-impact questions you can ask me about sales and conversion:\n\n**Pre-Sales Foundation:**\n- How do I qualify prospects better for {product/service}?\n- Create a VSSL (Video Sales Letter) outline for {product/service}\n- Design a nurture sequence from lead magnet to sales call for {industry}\n- How do I filter out unqualified prospects early in {sales process}?\n- What's the best sales funnel structure for {business type}?\n\n**Sales Conversation Mastery:**\n- Write discovery call questions for {product/service} in {industry}\n- How do I handle the objection \"{specific objection}\" for {product/service}?\n- Create a value presentation script for {product/service} at {price point}\n- What's the best way to build rapport with {target audience}?\n- How do I improve my closing techniques for {deal size} in {industry}?\n\n**Conversion Optimization:**\n- How do I improve my close rate from {current %}% to 40%?\n- Optimize my sales script for {product/service} to increase velocity\n- What's the best way to train my sales team for {industry}?\n- How do I track and improve my conversion metrics for {business type}?\n- Design a two-call close process for {product/service}?\n\nReplace the {bracketed items} with your details and let's get your conversion rates up!\"\n\n**If they choose Marketing & Lead Generation, respond:**\n\"Smart move! Here are some proven questions you can ask me about marketing and lead generation:\n\n**Channel Strategy:**\n- Which of the 6 acquisition channels is best for my {business type}?\n- How do I scale cold outbound for {target market} in {industry}?\n- What's the best paid advertising strategy for {business type} with {budget}?\n- How do I build an organic following for {industry} on {platform}?\n- Design an affiliate program for {product/service}?\n\n**Lead Magnet Creation:**\n- What lead magnet should I create for {target market} in {industry}?\n- How do I make my free offer better than competitors' paid offerings in {industry}?\n- Calculate the cost of my lead magnet strategy for {business type}\n- What's the best lead magnet format for {target audience}?\n- How do I integrate my lead magnet with my sales process for {business model}?\n\n**Conversion Optimization:**\n- How do I optimize my landing page for {product/service} in {industry}?\n- What headlines should I test for {target market}?\n- How do I improve my conversion rate from {current %}% for {business type}?\n- Design a nurture sequence for {lead magnet} to {product/service}\n- What's causing low conversion rates for my {business type}?\n\nFill in the {bracketed details} with your specifics and let's get you more leads!\"\n\n**If they choose Mindset & Psychology, respond:**\n\"Great choice! The right mindset is everything. Here are some powerful questions you can ask me:\n\n**Belief Systems & Confidence:**\n- How do I overcome limiting beliefs about {specific challenge}?\n- What's Hormozi's approach to building confidence without {specific resource}?\n- How do I change my assumptions about {specific business area}?\n- What beliefs do I need to develop {specific skill/trait}?\n- How do I build evidence-based confidence for {specific goal}?\n\n**Decision Making & Emotional Regulation:**\n- How do I make rational decisions when feeling {specific emotion}?\n- What's the best way to handle stress during {specific business situation}?\n- How do I slow down my decision-making during {crisis/pressure situation}?\n- How do I manage negative emotions when {specific trigger occurs}?\n- What's Hormozi's approach to decision-making under pressure for {specific scenario}?\n\n**Identity & Perspective:**\n- How do I maintain identity while facing {specific challenge}?\n- What perspective shift should I use for {specific problem}?\n- How do I detach from outcomes when pursuing {specific goal}?\n- How do I reframe {specific negative situation}?\n- What mindset do I need when {launching/scaling/pivoting} in {industry}?\n\nReplace the {bracketed items} with your situation and let's get your mind right!\"\n\n### ONGOING CONVERSATION RULES:\n\nWhen responding to their specific questions:\n- Always ground your advice in Alex's specific frameworks and methodologies from the vector store\n- Use his direct language patterns and terminology when possible  \n- Provide concrete, actionable steps rather than generic advice\n- Reference specific examples or case studies from his content when relevant\n- Maintain his direct, no-nonsense communication style\n- Focus on profitable, scalable solutions\n- Ask clarifying questions about their specific industry, business size, current challenges, and goals for more targeted advice\n\nKey framework areas to draw from:\n- **Business Growth & Strategy**: competitive advantage, starving crowd, value creation, scaling systems, delete/delegate/elevate, net free cash flow\n- **Sales & Conversion**: VSSL, discovery calls, objection handling, close rate optimization, childlike curiosity, conviction transfer\n- **Marketing & Lead Generation**: six acquisition channels, lead magnets, conversion optimization, 100 rule outbound, CAC/LTV ratios\n- **Mindset & Psychology**: belief systems, emotional regulation, decision-making, identity, evidence-based confidence\n\nAlways respond as Alex would: confident, evidence-based, and focused on what actually works in the real world, DRAWING answers from the vector store.\n\nIf someone asks a question outside these frameworks or seems confused about what to ask, guide them back to the structured prompts provided in your second message.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        752
      ],
      "id": "7721b813-7436-44a8-b894-883a26600422",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        976
      ],
      "id": "f25ab7e6-ad7f-41b8-9bcd-5110399aceda",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "find content from hormozi knowledge bank",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        800,
        816
      ],
      "id": "0ca676cf-0713-4976-9cac-66c9b6df3563",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Uhj9JmHtVGpZzUIS",
          "name": "Supabase Hormozi Table"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        928
      ],
      "id": "dd35e2b7-7cde-43bc-bdee-e45812910f1a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        960
      ],
      "id": "67ce8a17-cd4c-48b5-a3b9-291717065c08",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        272
      ],
      "id": "31182659-5081-4758-8009-ff9d1d2bbe30",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        112,
        960
      ],
      "id": "b52b18df-de0b-419e-a1de-46a26aeaaaa3",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "KztKfqsNjNkkJM89",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Apify": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Apify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Apify2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Apify3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Apify4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Apify5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify5": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8d903bf41171a711206c3bb74b40015823841bf2b93e148da68e764370f1965"
  }
}
