email-automation.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        336
      ],
      "id": "522953c7-4193-4feb-9b33-aed9c8109cdf",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a67b173f-7b5c-4ee2-a3dc-00e188c2896e",
              "name": "From",
              "value": "={{ $json.headers.from }}",
              "type": "string"
            },
            {
              "id": "5b4942f9-0618-4d76-9145-acfea76687c1",
              "name": "Subject",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "e8772d07-2e22-412d-89df-2424d8fb8ced",
              "name": "Body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3a7ed17a-3084-4c5b-824e-4ec8493b56ff",
              "name": "Message ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        352
      ],
      "id": "6d1e50b2-61cb-470e-9496-286fa0c819e1",
      "name": "Get Message Info"
    },
    {
      "parameters": {
        "inputText": "=From:  {{ $json.From }}\nSubject: {{ $json.Subject }}\nBody: {{ $json.Body }}\nMessage ID: {{ $json['Message ID'] }}",
        "categories": {
          "categories": [
            {
              "category": "Reply Required",
              "description": "Does this message require a reply?"
            },
            {
              "category": "Action Required",
              "description": "Does this message require an action from me? Ignore cold emails and marketing emails."
            },
            {
              "category": "Marketing Emails",
              "description": "Marketing emails from online stores and newsletters"
            },
            {
              "category": "Invoices",
              "description": "Invoices, paid and unpaid"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        352,
        352
      ],
      "id": "ead6367a-838e-425d-ad49-87617503ee8f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        640
      ],
      "id": "29ef9a88-111c-4306-a9e3-68188aa77532",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.From }}\n{{ $json.Subject }}\n{{ $json.Body }}\n{{ $json['Message ID'] }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Write a brief reply to this email and save it as a draft, then add a label, and mark the message as read."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        960,
        -48
      ],
      "id": "923add4a-5439-4133-bd33-84124c45976e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        176
      ],
      "id": "ecb678cb-8fe1-4a65-b406-696bdd5b3be1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `provide the exact subject here`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1280,
        176
      ],
      "id": "9f600ed8-d9b4-49d0-acb4-5198de55f097",
      "name": "Create a draft in Gmail",
      "webhookId": "c2a9829f-238f-4ed5-8171-ce58a1c8bb26",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1440,
        176
      ],
      "id": "cd70c22f-936b-4e4e-aa1e-8650b94aa7aa",
      "name": "Mark a message as read in Gmail",
      "webhookId": "5efc91f4-8d8a-4b99-b419-0ebe1a62c31c",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": [
          "Label_8143254311393724422"
        ]
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1616,
        176
      ],
      "id": "a79cd0db-b7c3-4592-8374-18a2c3a0a74c",
      "name": "Add label to message in Gmail",
      "webhookId": "54662948-fd52-4b6f-95d8-b3df1987734d",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8143254311393724422"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        368
      ],
      "id": "600024db-9826-4d3b-ad80-337da6cb7c9b",
      "name": "Add label to message",
      "webhookId": "f6598637-9348-4d98-95be-6f5f6b10a0c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8340283655568220749"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        624
      ],
      "id": "8bbb3582-2d90-4307-8ef1-746d231fecc0",
      "name": "Add label to message1",
      "webhookId": "2811c2ad-485d-47fb-9177-34825cf0c76a",
      "credentials": {
        "gmailOAuth2": {
          "id": "47wVmO3uPCdVj57K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qhId3O_V7CBtGF0VthRpOYr8TsYhFSlKsSEs4_PG5kE",
          "mode": "list",
          "cachedResultName": "NY Real Estate Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qhId3O_V7CBtGF0VthRpOYr8TsYhFSlKsSEs4_PG5kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1590081758,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qhId3O_V7CBtGF0VthRpOYr8TsYhFSlKsSEs4_PG5kE/edit#gid=1590081758"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1040,
        176
      ],
      "id": "82ae29e6-0fec-4b2d-bcaa-c009db293ffc",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O5WpQz6VV2A1evBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "get business policy data from vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1184,
        384
      ],
      "id": "fe13c465-91aa-4e1a-ad71-62c52105b719",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Uhj9JmHtVGpZzUIS",
          "name": "Supabase Hormozi Table"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        528
      ],
      "id": "656673dc-2f09-45ee-8df2-99c71889fe3a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ybRg3lag38rmtn5D",
          "name": "Shab OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Message Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message Info": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8d903bf41171a711206c3bb74b40015823841bf2b93e148da68e764370f1965"
  }
}
