short-form-machine.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Short Form Video Editor\n- Get ideas from RSS feed or get a script directly\n- Generate AI avatar video with Heygen API\n- Edit video with Submagic API\n- Publish video with Upload-Post API",
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -48
      ],
      "typeVersion": 1,
      "id": "e659683c-6b14-439f-88c4-a5d2a4976696",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -736,
        256
      ],
      "id": "584f95c5-3059-40d3-8e1a-9f61e99a8cc5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        -320,
        352
      ],
      "id": "1d76e5d9-8e30-4eb5-ab95-15782d82796b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "description": "Call this tool to generate a video",
        "workflowId": {
          "__rl": true,
          "value": "XEE6Puu4gPEBJaUF",
          "mode": "list",
          "cachedResultUrl": "/workflow/XEE6Puu4gPEBJaUF",
          "cachedResultName": "(Sub) Script to HeyGen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "script": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('script', ``, 'string') }}"
          },
          "matchingColumns": [
            "script"
          ],
          "schema": [
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        384,
        336
      ],
      "id": "5e50ab20-d5a2-4976-aa85-45732ef81010",
      "name": "Call '(Sub) Script to HeyGen'"
    },
    {
      "parameters": {
        "description": "Call this tool to start the video edit",
        "workflowId": {
          "__rl": true,
          "value": "7iXNqiVoCsUDu04G",
          "mode": "list",
          "cachedResultUrl": "/workflow/7iXNqiVoCsUDu04G",
          "cachedResultName": "(Sub) Video to Submagic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        336
      ],
      "id": "679b93bd-0ad1-49a8-8a03-e9ff4a5ed92e",
      "name": "Call '(Sub) Video to Submagic'"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a professional content marketer specializing in short form videos. Your job is to handle end-to-end short form content creation.\n\nStep 1: Research trending topics in the AI space by getting data from RSS feeds using the RSS tool:\n\nhttps://research.google/blog/rss/\nhttps://www.wired.com/feed/tag/ai/latest/rss\n\nThen Present 2-3 content briefs for approval - what the article is about, a good angle to make it relevant to my audience of AI enthusiasts, and the article URL. Once I approve, create a new record with the URL in the data table and make a note of the newly generated row's ID.\n\nStep 3: Create a 30-45 second script(output script only as a block of text - no division into hook body etc), an Instagram caption, and a YouTube shorts title. Present all three together for approval in a single message. The script is for Instagram and YouTube shorts, so the hook should be engaging, the first 3-5 seconds are the MOST critical, and say as much as you can in as few words as possible. Once I approve all three together, add the script, Instagram caption, and YouTube title to the data table, matching the row using the ID from Step 2.\n\nNote: I may directly brainstorm a script with you. If that's the case, once I approve the script, Instagram caption, and YouTube title together, create a new record in the data table using the script and mark the source as user-initiated.\n\nStep 4: Once I approve the content in Step 3, immediately proceed without further approval to: generate the video using the Generate Video tool. The script you send in the query must be JSON-friendly, so if there are any unnecessary artifacts like quotation makes and the like, remove those. \n\nAdd the response URL as-is to the Heygen row in the data table, matching on the ID. Then send that same URL for editing using the Edit Video tool - this will return a Cloudinary URL, which you add to the data table, matching on the ID. Then use the Publish Video tool to publish the video to Instagram and YouTube, and update the data table with the returned URLs, matching using the ID.\n\nImportant: You must NOT hallucinate the URLs. Use them exactly as returned by the tools. This is crucial to my career. Always match rows using the ID when updating the data table."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        48
      ],
      "id": "025c86aa-5045-4605-be1f-15c12ca1f4a4",
      "name": "Short Form Domination"
    },
    {
      "parameters": {
        "description": "call this tool to upload the content",
        "workflowId": {
          "__rl": true,
          "value": "Shn0XthsbHKxpM0S",
          "mode": "list",
          "cachedResultUrl": "/workflow/Shn0XthsbHKxpM0S",
          "cachedResultName": "(Sub) Upload Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `cloudinary url`, 'string') }}",
            "youtube_title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('youtube_title', ``, 'string') }}",
            "ig_caption": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ig_caption', `instagram caption - long text`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "youtube_title",
              "displayName": "youtube_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ig_caption",
              "displayName": "ig_caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        336
      ],
      "id": "83fe7049-3017-42d4-8921-ccd10678de1b",
      "name": "Call '(Sub) Upload Post'"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "jzaBNbwx4bX2Da19",
          "mode": "list",
          "cachedResultName": "Short Form Videos",
          "cachedResultUrl": "/projects/v3oV44g3qpKsSLDM/datatables/jzaBNbwx4bX2Da19"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ideaURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ideaURL', ``, 'string') }}",
            "script": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('script', ``, 'string') }}",
            "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', ``, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}",
            "instaURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('instaURL', ``, 'string') }}",
            "youtubeURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('youtubeURL', ``, 'string') }}",
            "editedURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('editedURL', ``, 'string') }}",
            "heygenURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('heygenURL', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ideaURL",
              "displayName": "ideaURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "editedURL",
              "displayName": "editedURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instaURL",
              "displayName": "instaURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtubeURL",
              "displayName": "youtubeURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "heygenURL",
              "displayName": "heygenURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -80,
        352
      ],
      "id": "96fa9ac4-689d-4f78-9584-8edf5a23d0d6",
      "name": "Upsert row(s) in Data table"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jzaBNbwx4bX2Da19",
          "mode": "list",
          "cachedResultName": "Short Form Videos",
          "cachedResultUrl": "/projects/v3oV44g3qpKsSLDM/datatables/jzaBNbwx4bX2Da19"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        96,
        352
      ],
      "id": "90782bcc-aa38-457c-b676-8167371840c1",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -880,
        256
      ],
      "id": "f3da2753-6f96-4012-b910-258156ee9ae7",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "KztKfqsNjNkkJM89",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Research",
        "height": 208,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        288
      ],
      "typeVersion": 1,
      "id": "89417b55-930c-4107-afe0-42acf6395020",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Data Management",
        "height": 208,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        288
      ],
      "typeVersion": 1,
      "id": "05f8dc5b-6a4e-409a-87e9-e09ffcefad93",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create => Edit => Upload",
        "height": 208,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        288
      ],
      "typeVersion": 1,
      "id": "8d876913-41d4-475b-9bad-87909d986f81",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "script"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        864
      ],
      "id": "12c6ec38-998e-438d-a851-039851b3182d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        864
      ],
      "id": "994fcdad-3b9b-4c05-9a86-a806bff830ad",
      "name": "Wait",
      "webhookId": "27c41ed4-c6a1-42b0-bc89-c6242d0d2178"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "50a13b1a-f9c9-48a9-92b8-6437b9ee380d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8473fa10-c394-4543-9685-51fac78a1c7b",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        80,
        848
      ],
      "id": "0bb73cb7-b903-488e-8c1a-615d568dbef1",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "944efbaf-c439-4eff-ba22-a4b991318362",
              "name": "output",
              "value": "VIDEO EXECUTION FAILED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        576
      ],
      "id": "889d2dd1-00ba-4bcf-9495-f479b5b91da8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af49376b-d741-4315-a1ee-9f78bd9bcab0",
              "name": "output",
              "value": "={{ $json.data.video_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        848
      ],
      "id": "91186c0a-427e-4bc0-9e49-047f17773de3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"scale\": 1,\n        \"avatar_style\": \"normal\",\n        \"avatar_id\": \"24442275d0014be2827c16af9a1ab89c\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.script }}\",\n        \"voice_id\": \"5d8c378ba8c3434586081a52ac368738\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        864
      ],
      "id": "17e8e6ed-44fb-4980-8688-85831d8c4f8d",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iRx5riNlU7jj2BdI",
          "name": "HeyGen"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generate Video').item.json.data.video_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        864
      ],
      "id": "38233ac5-9b92-48de-8122-2a16435b711b",
      "name": "Check Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iRx5riNlU7jj2BdI",
          "name": "HeyGen"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.submagic.co/v1/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"title\": \"My Awesome Video\",\n    \"language\": \"en\",\n    \"videoUrl\": \"{{ $json.URL }}\",\n    \"templateName\": \"Beast\",\n    \"magicZooms\": true,\n    \"magicBrolls\": true,\n    \"magicBrollsPercentage\": 60\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        1472
      ],
      "id": "102ab867-67e4-4166-b528-39a875fd87a5",
      "name": "Start Edit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2v7rqXN5tm8pnht",
          "name": "Submagic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "resource_type": "video",
        "additionalFields": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        160,
        1520
      ],
      "id": "07cff0a6-2fca-4fd0-839c-5c38bcf25f8e",
      "name": "Upload an asset from URL",
      "credentials": {
        "cloudinaryApi": {
          "id": "PIkmUKsd1u4P80No",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        1472
      ],
      "id": "e5d3c5bf-35a0-4829-9b3f-269ea5354466",
      "name": "Wait1",
      "webhookId": "fe825f3c-92a1-4ccd-8d6c-2b6a932a6c6f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9248e3c-21c0-464b-a13f-29725f3cd4cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failure"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33e97852-462a-4115-abbc-58f115a8c8ab",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        1456
      ],
      "id": "ac629bce-ad70-4a79-8849-6eb7c3014e8b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85758bf1-8a05-4c39-9273-197b3f885e42",
              "name": "output",
              "value": "EDIT FAILED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        1168
      ],
      "id": "40d8fbe4-500a-43f1-b28b-ed93d9015a6a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://api.submagic.co/v1/projects/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        1472
      ],
      "id": "326fc783-0260-4350-957f-d431934b356a",
      "name": "Check Status1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "j2v7rqXN5tm8pnht",
          "name": "Submagic"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0ef1f7b-48ee-4b5f-a3f3-8bfaec839b74",
              "name": "output",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1520
      ],
      "id": "27124650-76d8-45eb-96f8-0838c3c749b4",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "uploadVideo",
        "user": "n8n-tutorial",
        "platform": [
          "instagram",
          "linkedin",
          "facebook"
        ],
        "title": "={{ $json.main_content }}",
        "caption": "={{ $json.ig_caption }}",
        "video": "={{ $json.URL }}",
        "facebookPageId": "1345639069343730"
      },
      "type": "n8n-nodes-upload-post.uploadPost",
      "typeVersion": 1,
      "position": [
        -400,
        1808
      ],
      "id": "9c43fd25-d476-44b1-86a3-0d574abe3875",
      "name": "Upload Post",
      "credentials": {
        "uploadPostApi": {
          "id": "vsf5lRaWVt4TXbUx",
          "name": "Upload Post account"
        }
      }
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "ai_tool": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '(Sub) Script to HeyGen'": {
      "ai_tool": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '(Sub) Video to Submagic'": {
      "ai_tool": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call '(Sub) Upload Post'": {
      "ai_tool": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Short Form Domination",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Edit": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from URL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload an asset from URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8d903bf41171a711206c3bb74b40015823841bf2b93e148da68e764370f1965"
  }
}
